/* Created by: Brandon Brandhuber
* Created on: May 2025
* This file contains the CSS for index.html
*/

body {
    background-color: rgb(95, 158, 201);
}

h1 {
    background-color: rgb(238, 128, 128);
    color: hsl(0, 0%, 1%);
    padding: 40px;
    text-align: center;
}

h3 {
    background-color: rgb(224, 126, 126);
    color: hsl(0, 0%, 1%);
}


div {
    font-weight: bold;
    color: #000000;
    margin: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}